fastapi==0.116.1
dotenv==0.9.9
python-dotenv==1.1.1
motor==3.7.1
pymongo==4.13.2
passlib==1.7.4
pydantic==2.11.7
python-jose==3.5.0
httpx==0.28.1
uvicorn==0.35.0
pydantic[email]==2.2.0
mailjet-rest==1.5.1
cloudinary==1.44.1